<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @add_type_to_user.type %>
</p>

<%= link_to 'Edit', edit_add_type_to_user_path(@add_type_to_user) %> |
<%= link_to 'Back', add_type_to_users_path %>
